@import url("https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@500&display=swap");
:root {
  --desaturated-cyan: "#5FB4A2";
  --light-gray: "#EAEAEB";
  --very-light-gray: "#FAFAFA";
  --dark-blue: "#203A4C";
  --gray-dark-blue: "#33323D";
}

body {
  background-color: var(--very-light-gray);
}
h1,
h2,
h3 {
  font-family: "Ibarra Real Nova", serif;
}
h1 {
  font-size: 50px;
  line-height: 50px;
}

h2 {
  font-size: 40px;
  line-height: 42px;
}
h3 {
  font-size: 32px;
  line-height: 36px;
}
p,
a {
  font-family: "Public Sans", sans-serif;
}
hr {
  color: rgba(51, 50, 61, 0.10);
}
.navbar,
#projects-list,
#main-content {
  margin: 30px 80px;
}
.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.nav-item {
  list-style: none;
  margin-right: 2rem;
}
.nav-item a {
  text-decoration: none;
  color: var(--gray-dark-blue);
  transition: all 200ms ease-in;
  text-transform: uppercase;
}
.nav-item:first-child {
  margin-right: auto;
  margin-left: 2rem;
}
#about {
  padding: 150px 80px 30px 80px;
  display: flex;
}
.col {
  flex: 1;
}
#about img {
  width: 600px;
  height: auto;
}
.hero-img{
    padding: 100px 0;
}
.hero-img img{
    height: 80%;
    width: auto;
}
.main-content-description{
    display: flex;
}
.main-content-description h1{
    padding: 30px 0;
}
.tech-used, .main-content-description p, .main-content-preview p{
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}
.tech-used{
    color: #5FB4A2;
}
.main-content-description p{
    max-width: 500px;
    text-align: justify;
}
.tech-used, .btn-visit{
    margin-top: 50px;
}
.main-content-preview{
    flex-flow: column;
    margin-left: 40px;
}
.main-content-preview h1{
    font-family: "Public Sans", sans-serif;
    font-size: 32px;
}
.main-content-preview img{
    margin-bottom: 30px;
    width: 45rem;
    height: auto;
}

.btn-outlined {
  border: 2px solid #33323d;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--gray-dark-blue);
  padding: 17px 28px;
  font-weight: 500;
}
#projects-list {
  margin-top: 100px;
}
#contact {
  margin: 100px 80px;
  display: flex;
  align-items: center;
}
#contact h2 {
  color: #33323d;
  font-weight: 700;
  size: 40px;
  line-height: 42px;
  max-width: 500px;
}
.btn-contact {
  margin-left: auto;
}
#footer {
  background-color: #33323d;
}
.footer-nav,
.projects-nav {
  padding: 30px 80px;
}
.footer-list,
.project-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.project-list {
  padding: 20px 0;
}
.project-item a {
  text-decoration: none;
  transition: all 200ms ease-in;
  color: #33323d;
}
.project-item a h1 {
  font-family: "Ibarra Real Nova", serif;
  font-size: 36px;
  font-weight: 40px;
  font-weight: 400;
}
.project-item a p {
  font-size: 16px;
  font-weight: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: rgba(51, 50, 61, 0.55);
}
.project-content-link {
  display: flex;
  align-items: center;
}
.project-content-icon {
  flex-direction: row;
  padding: 10px;
}
.footer-item,
.project-item {
  list-style: none;
  margin-right: 2rem;
}
.footer-item a {
  text-decoration: none;
  color: #fff;
  transition: all 200ms ease-in;
  text-transform: uppercase;
}

.footer-item div > img {
  padding-left: 10px;
}
.footer-item:last-child,
.project-item:last-child {
  margin-left: auto;
  margin-right: 2rem;
}
