h1, h2, h3, p {
    color: #33323D;
}
.container{
    margin: 0 0;
}
.active{
    color: #5FB4A2;
}
.presentation, .about-me, #about, #contact{
    display: flex;
}
.presentation{
    flex-direction: column;
    margin: 30px 80px;
    height: 800px;
    background-image: url("../../assets/home/image-homepage-hero.jpg");
    background-size: cover;
}
.describe{
    background-color: #fafafa;
    padding: 20px 20px;
    width: 360px;
    margin-top: auto;
}
.about-me{
    padding: 10px 10px;
    background-color:  #203A4C;
    width: 28%;
}
.about-me icon{
    margin: 10px 15px;
}
.about-me a{
    padding-left: 14px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    color: #fff;
}
#about{
    display: flex;
    align-items: center;
}
#about img{
    height: 600px;
    width: auto;
}
#about p{
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    text-align: justify;
}
.centralize{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}